<app-top-bar></app-top-bar>
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <h2>Edit Vacation Request</h2>
    <form #requestForm="ngForm" (ngSubmit)="editRequest(request)">
      <div class="formbold-mb-5 custom-select">
        <label for="types" class="formbold-form-label">Vacation type</label>

        <select
          name="types"
          id="types"
          [(ngModel)]="request.typeId"
          [disabled]="true"
        >
          <option [value]="1" [selected]="request.typeId == 1">Casual</option>
          <option [value]="2" [selected]="request.typeId == 2">Annual</option>
        </select>
      </div>
      <div class="flex flex-wrap formbold--mx-3">
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5 w-full">
            <label for="date" class="formbold-form-label"> From date </label>
            <input
              type="text"
              name="fromDate"
              id="date"
              class="formbold-form-input"
              [placeholder]="request.fromDate"
              onfocus="(this.type='date')"
              onblur="if(!this.value)this.type='text'"
              [(ngModel)]="request.fromDate"
              [attr.min]="today"
              (change)="onFromDateChange($event)"
            />
          </div>
        </div>
        <div class="w-full sm:w-half formbold-px-3">
          <div class="formbold-mb-5">
            <label for="time" class="formbold-form-label"> To date </label>
            <input
              type="text"
              name="toDate"
              id="date"
              class="formbold-form-input"
              [placeholder]="request.toDate"
              onfocus="(this.type='date')"
              onblur="if(!this.value)this.type='text'"
              [(ngModel)]="request.toDate"
              [attr.min]="minDate"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="submit" class="formbold-btn">
          Edit Vacation Request
        </button>
      </div>
    </form>
    <div class="buttonDiv">
      <button class="button button3" (click)="deleteRequest()">
        Delete Request
      </button>
    </div>
  </div>
</div>
